<footer class="text-center text-white mt-4" style="background-color: #343a40;">
  <!-- Grid container -->
  <div class="container p-4"></div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="https://www.youtube.com/channel/UCESjwjiTDd7s8SuJFkpVf2w" target="_blank">YOUTUBE</a>
  </div>
  <!-- Copyright -->
</footer>
